# deps
node_modules/

# generated content
.source

# private overlay repo
packages/loveui-pro/
components/auth/*
!components/auth/
!components/auth/login-form.tsx
components/blocks/
components/blocks
components/blocks/analytics-charts/
components/ui/chart.tsx
components/ui/recharts-chart.tsx
content/docs/pro/
registry/default/blocks/stats7/
registry/default/blocks/stats8/
registry/default/blocks/stats10/
registry/default/blocks/stats12/
registry/default/ui/chart.tsx

# test & build
/coverage
/.next/
/out/
/build
*.tsbuildinfo

# misc
.DS_Store
*.pem
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# others
.env*.local
.vercel
next-env.d.ts
